@page "/"
@attribute [StreamRendering]
@inject IBookRepository BookRepository

<PageTitle>Book List</PageTitle>

<div class="row justify-content-center">
    <div class="col-6">
        <a href="/addnew" class="btn btn-primary shadow-none mb-3">Add New Book</a>
        @if(Books is null)
        {
            <div class="book-item">
                Loading... 
            </div>
        }else if (Books.Any())
        {
            @foreach(var book in Books)
            {
                <div class="book-item">
                    <BookCard @rendermode="InteractiveServer" book="book" />
                </div>
            }
        }
        else
        {
            <div>
                <div class="book-item">
                    No Books found!
                </div>
            </div>
        }
    </div>
</div>
@code {
    private List<Book>? Books;

    protected override async Task OnInitializedAsync()
    {
        // await Task.Delay(5000);
        Books = await BookRepository.GetAllAsync();
    }
}
